html,
body {
  margin: 0;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#blocker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#instructions {
  color: #ffffff;
  text-align: center;
  font-size: large;
  cursor: pointer;
}

#guis div {
  position: absolute;
  color: #ffffff;
  left: 10px;
  top: 10px;
  font-size: 20px;
}
#guis #dirty_timer {
  position: absolute;
  color: #ffffff;
  left: 10px;
  top: 175px;
}
#guis button {
  position: absolute;
  border: 3px solid skyblue;
  margin-left: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 7px;
  left: 10px;
  top: 200px;
  cursor: pointer;
}

#guis button:hover {
  color: white;
  background-color: skyblue;
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}
#loading > div > div {
  padding: 2px;
}
